@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');



:root{
    --redhat-font: 'Red Hat Text', sans-serif;
    --bold: 700;
    --gray: #8385A9;
    --pink: #FB5E84;
    --bg-black: hsl(234, 17%, 12%);
    --white: #FFFFFF;
    --bg-brown: #343650;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--bg-black);
    background-image: url("../images/pattern-hills.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    color: var(--white);
    font-family: var(--redhat-font);
    font-weight: var(--bold);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

header{
    height: 35%;
    display: inline-flex;
    align-items: center;
    h3{
        font-size: 1.8rem;
        letter-spacing: 0.6rem;
        max-width: 32.7rem;
        text-transform: uppercase;
        text-align: center;
    }
}


main{
    display: inline-flex;
    min-height: 10rem;
    height: 50%;
    min-width: 32.7rem;
    width: 30%;
    justify-content: space-between;
    >div{
        text-align: center;
        align-items: center;
        >div{
            display: flex;
            justify-content: center;
            color: var(--pink);
            min-height: 6.6rem;
            min-width: 7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 3.6rem;
            background-color: var(--bg-brown);
            border-radius: 0.4rem;
        }
        p{
            font-size: 0.7rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            color: var(--gray);
        }
        
    }   
}

footer{
    // height: 15%;
    justify-self: flex-end;
    display: inline-flex;
    justify-content: space-between;
    width: 13.6rem;
    *{
        background-position: center;
        background-repeat: no-repeat;
        width: 2.4rem;
        height: 2.4rem;
    }
    *:hover{
        cursor: pointer;
    }
    svg:hover path{
        fill: var(--pink);
    }
}

.bg{
    position: absolute;
    z-index: -1;
}


@media screen and (min-width: 1440px) {
    body{
        background-size: 100vw;
    }
    header{
        height: 20%;
        h3{
            font-size: 2.2rem;
            max-width: none;
            min-width: 43.1rem;
        }
    }    
    main{
        height: 60%;
        max-width: none;
        min-width:68.8rem;
        >div{
            >div{
                font-size: 8rem;
                width: 14.8rem;
                height: 14rem;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
}